@model IEnumerable<ReviewClubMvcpart.Dtos.CategoryDto>

@{
    ViewData["Title"] = "Category List";
}

<h1>Categories</h1>

<p>
    <a asp-controller="CategoryPage" asp-action="New" class="btn btn-primary">Add New Category</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Book Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.BookCategory</td>
                <td>@category.BookCount</td>
                <td>
                    <a asp-controller="CategoryPage" asp-action="Details" asp-route-id="@category.Id" class="btn btn-info">Details</a>
                    <a asp-controller="CategoryPage" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="CategoryPage" asp-action="ConfirmDelete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
